version: '3'
services:
  altaria:
    build: .
    restart: unless-stopped
    environment:
      # Discord bot token
      BOT_TOKEN: "..."
      # Default logging level
      LOG_LEVEL: "INFO"
      # ID of the guild where the bot is going to be run
      GUILD_ID: "..."
      # Channel where full errors should be posted
      ERROR_CHANNEL_ID: "..."
      # Database connection data
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: "root"
      DB_PASSWORD: "altaria"
      DB_DATABASE: "altaria"
      # True to enable SpriteBot !gr command integrations
      SPRITEBOT_GP_COMMANDS: "true"
      # ID of the message and channel containing the server rules, as an embed with one section per rule.
      # Omit to disable the /rules command.
      RULES_MESSAGE_ID: "..."
      RULES_CHANNEL_ID: "..."
      # True to punish members striked by Vortex when they reach a certain amount of strikes
      ENABLE_STRIKE_PUNISHMENTS: "false"
      # Channel where Vortex's strike messages are posted. Can be omitted if ENABLE_STRIKE_PUNISHMENTS is false.
      STRIKE_LOG_CHANNEL_ID: "..."
      # Channel where Altaria will run >>silentban to temporarily ban a user through Vortex.
      #  Can be omitted if ENABLE_STRIKE_PUNISHMENTS is false.
      BAN_CMD_CHANNEL_ID: "..."
      # Channel where GP is awarded for contributions.
      SUPPORT_CHANNEL_ID: "..."
      # ID of the role to give users who post enough messages to be considered verified. Leave blank to
      # disable the feature.
      VERIFIED_USER_ROLE_ID: "..."
      # Number of messages a user has to send to be given the verified role.
      VERIFIED_USER_MESSAGE_THRESHOLD: "..."
    depends_on:
      - db
  db:
    # TODO: Auth method has changed in mysql 9.0. Figure out how to get it working.
    image: mysql:8.4.0
    command: --mysql-native-password=ON
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "altaria"
      MYSQL_DATABASE: "altaria"
    volumes:
      - "./db_data:/var/lib/mysql"
